body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:13304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13304px;
  height:6374px;
}
#u4581 {
  position:absolute;
  left:0px;
  top:0px;
  width:13304px;
  height:6374px;
}
#u4582 {
  position:absolute;
  left:2px;
  top:3179px;
  width:13300px;
  visibility:hidden;
  word-wrap:break-word;
}
