body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3830 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:534px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u3832 {
  position:absolute;
  left:914px;
  top:625px;
  width:320px;
  height:38px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3834 {
  position:absolute;
  left:914px;
  top:661px;
  width:320px;
  height:1px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3836 {
  position:absolute;
  left:952px;
  top:633px;
  width:179px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3838 {
  position:absolute;
  left:914px;
  top:625px;
  width:320px;
  height:1px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u3840 {
  position:absolute;
  left:1255px;
  top:181px;
  width:320px;
  height:106px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3842 {
  position:absolute;
  left:1266px;
  top:217px;
  width:309px;
  height:1px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3844 {
  position:absolute;
  left:1266px;
  top:191px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3846 {
  position:absolute;
  left:1255px;
  top:181px;
  width:320px;
  height:1px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3848 {
  position:absolute;
  left:1266px;
  top:251px;
  width:309px;
  height:1px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3850 {
  position:absolute;
  left:1266px;
  top:227px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3852 {
  position:absolute;
  left:1255px;
  top:285px;
  width:320px;
  height:1px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3854 {
  position:absolute;
  left:1266px;
  top:260px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3856 {
  position:absolute;
  left:1550px;
  top:191px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u3858 {
  position:absolute;
  left:1255px;
  top:353px;
  width:320px;
  height:72px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3860 {
  position:absolute;
  left:1266px;
  top:390px;
  width:309px;
  height:1px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3862 {
  position:absolute;
  left:1266px;
  top:363px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3864 {
  position:absolute;
  left:1255px;
  top:354px;
  width:320px;
  height:1px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3866 {
  position:absolute;
  left:1255px;
  top:424px;
  width:320px;
  height:1px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3868 {
  position:absolute;
  left:1293px;
  top:397px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3869 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u3870 {
  position:absolute;
  left:925px;
  top:632px;
  width:20px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u3872 {
  position:absolute;
  left:1266px;
  top:396px;
  width:20px;
  height:21px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
}
#u3874 {
  position:absolute;
  left:1525px;
  top:354px;
  width:50px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3875 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u3876 {
  position:absolute;
  left:1525px;
  top:390px;
  width:50px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3878 {
  position:absolute;
  left:1266px;
  top:161px;
  width:239px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3880 {
  position:absolute;
  left:1266px;
  top:289px;
  width:299px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3882 {
  position:absolute;
  left:1266px;
  top:334px;
  width:239px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u3884 {
  position:absolute;
  left:558px;
  top:655px;
  width:320px;
  height:38px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3886 {
  position:absolute;
  left:558px;
  top:691px;
  width:320px;
  height:1px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3888 {
  position:absolute;
  left:569px;
  top:664px;
  width:179px;
  height:21px;
  font-size:15px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u3890 {
  position:absolute;
  left:854px;
  top:663px;
  width:18px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3892 {
  position:absolute;
  left:558px;
  top:655px;
  width:320px;
  height:1px;
}
#u3893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u3894 {
  position:absolute;
  left:558px;
  top:735px;
  width:320px;
  height:72px;
}
#u3895 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3896 {
  position:absolute;
  left:569px;
  top:771px;
  width:309px;
  height:1px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3898 {
  position:absolute;
  left:569px;
  top:745px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3900 {
  position:absolute;
  left:558px;
  top:735px;
  width:320px;
  height:1px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903 {
  position:absolute;
  left:822px;
  top:740px;
  width:46px;
  height:26px;
}
#u3903_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(76, 216, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 216, 100, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903.selected {
}
#u3904 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905 {
  position:absolute;
  left:823px;
  top:740px;
  touch-action:pan-y;
}
#u3905_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3905_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3906_img.selected {
}
#u3906.selected {
}
#u3907 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3908 {
  position:absolute;
  left:558px;
  top:805px;
  width:320px;
  height:1px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3910 {
  position:absolute;
  left:569px;
  top:781px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  position:absolute;
  left:821px;
  top:775px;
  width:46px;
  height:26px;
}
#u3913_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(76, 216, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 216, 100, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913.selected {
}
#u3914 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915 {
  position:absolute;
  left:842px;
  top:775px;
  touch-action:pan-y;
}
#u3915_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3915_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3916_img.selected {
}
#u3916.selected {
}
#u3917 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u3918 {
  position:absolute;
  left:558px;
  top:854px;
  width:320px;
  height:106px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3920 {
  position:absolute;
  left:569px;
  top:890px;
  width:309px;
  height:1px;
}
#u3921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3922 {
  position:absolute;
  left:569px;
  top:864px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3924 {
  position:absolute;
  left:558px;
  top:854px;
  width:320px;
  height:1px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u3926 {
  position:absolute;
  left:569px;
  top:924px;
  width:309px;
  height:1px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3928 {
  position:absolute;
  left:569px;
  top:900px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3930 {
  position:absolute;
  left:558px;
  top:958px;
  width:320px;
  height:1px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3932 {
  position:absolute;
  left:569px;
  top:933px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3934 {
  position:absolute;
  left:853px;
  top:864px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3936 {
  position:absolute;
  left:853px;
  top:899px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3938 {
  position:absolute;
  left:853px;
  top:933px;
  width:21px;
  height:21px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:86px;
}
#u3940 {
  position:absolute;
  left:914px;
  top:693px;
  width:318px;
  height:85px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:34px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u3942 {
  position:absolute;
  left:914px;
  top:693px;
  width:318px;
  height:1px;
}
#u3943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u3944 {
  position:absolute;
  left:914px;
  top:778px;
  width:318px;
  height:1px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:921px;
  top:703px;
  width:293px;
  height:25px;
}
#u3946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947 {
  position:absolute;
  left:201px;
  top:490px;
  width:300px;
  height:44px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3949 {
  position:absolute;
  left:58px;
  top:39px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3951 {
  position:absolute;
  left:58px;
  top:78px;
  width:57px;
  height:20px;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3953 {
  position:absolute;
  left:58px;
  top:115px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3955 {
  position:absolute;
  left:58px;
  top:150px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3957 {
  position:absolute;
  left:58px;
  top:183px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3959 {
  position:absolute;
  left:58px;
  top:214px;
  width:37px;
  height:13px;
  font-size:9px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3961 {
  position:absolute;
  left:326px;
  top:789px;
  width:26px;
  height:26px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3963 {
  position:absolute;
  left:326px;
  top:748px;
  width:22px;
  height:22px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FF0000;
  text-align:center;
}
#u3965 {
  position:absolute;
  left:229px;
  top:517px;
  width:28px;
  height:13px;
  font-size:9px;
  color:#FF0000;
  text-align:center;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3967 {
  position:absolute;
  left:310px;
  top:517px;
  width:19px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3969 {
  position:absolute;
  left:383px;
  top:517px;
  width:19px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3971 {
  position:absolute;
  left:260px;
  top:750px;
  width:21px;
  height:21px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3973 {
  position:absolute;
  left:259px;
  top:791px;
  width:22px;
  height:22px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3975 {
  position:absolute;
  left:295px;
  top:751px;
  width:20px;
  height:20px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3977 {
  position:absolute;
  left:292px;
  top:790px;
  width:25px;
  height:25px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3979 {
  position:absolute;
  left:223px;
  top:790px;
  width:25px;
  height:25px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3981 {
  position:absolute;
  left:219px;
  top:749px;
  width:25px;
  height:25px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3983 {
  position:absolute;
  left:309px;
  top:497px;
  width:20px;
  height:20px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3985 {
  position:absolute;
  left:378px;
  top:494px;
  width:25px;
  height:25px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3987 {
  position:absolute;
  left:460px;
  top:517px;
  width:10px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3989 {
  position:absolute;
  left:452px;
  top:493px;
  width:26px;
  height:26px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3991 {
  position:absolute;
  left:232px;
  top:496px;
  width:22px;
  height:22px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:111px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FF0000;
}
#u3993 {
  position:absolute;
  left:393px;
  top:491px;
  width:13px;
  height:13px;
  font-size:8px;
  color:#FF0000;
}
#u3994 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:44px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3997 {
  position:absolute;
  left:294px;
  top:12px;
  width:60px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3998 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u3999 {
  position:absolute;
  left:352px;
  top:12px;
  width:56px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u4000 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u4001 {
  position:absolute;
  left:26px;
  top:270px;
  width:148px;
  height:22px;
  font-size:16px;
  color:#FF0000;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4003 {
  position:absolute;
  left:459px;
  top:10px;
  width:26px;
  height:26px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:132px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4007 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:1px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4009 {
  position:absolute;
  left:201px;
  top:185px;
  width:300px;
  height:1px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u4011 {
  position:absolute;
  left:217px;
  top:67px;
  width:159px;
  height:14px;
  font-size:12px;
  line-height:14px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u4013 {
  position:absolute;
  left:368px;
  top:67px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u4016 {
  position:absolute;
  left:303px;
  top:136px;
  width:77px;
  height:17px;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:8px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u4018 {
  position:absolute;
  left:217px;
  top:105px;
  width:69px;
  height:69px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u4020 {
  position:absolute;
  left:303px;
  top:105px;
  width:182px;
  height:28px;
  font-size:12px;
  line-height:14px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4022 {
  position:absolute;
  left:303px;
  top:158px;
  width:154px;
  height:16px;
  color:#FF0000;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u4024 {
  position:absolute;
  left:366px;
  top:141px;
  width:10px;
  height:9px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u4026 {
  position:absolute;
  left:217px;
  top:92px;
  width:284px;
  height:1px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  position:absolute;
  left:201px;
  top:196px;
  width:300px;
  height:132px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4030 {
  position:absolute;
  left:201px;
  top:196px;
  width:300px;
  height:1px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4032 {
  position:absolute;
  left:201px;
  top:327px;
  width:300px;
  height:1px;
}
#u4033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u4034 {
  position:absolute;
  left:217px;
  top:209px;
  width:159px;
  height:14px;
  font-size:12px;
  line-height:14px;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u4036 {
  position:absolute;
  left:368px;
  top:209px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u4039 {
  position:absolute;
  left:303px;
  top:278px;
  width:77px;
  height:17px;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u4040 {
  position:absolute;
  left:8px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u4041 {
  position:absolute;
  left:217px;
  top:247px;
  width:69px;
  height:69px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u4043 {
  position:absolute;
  left:303px;
  top:247px;
  width:182px;
  height:28px;
  font-size:12px;
  line-height:14px;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4045 {
  position:absolute;
  left:303px;
  top:300px;
  width:154px;
  height:16px;
  color:#FF0000;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u4047 {
  position:absolute;
  left:366px;
  top:283px;
  width:10px;
  height:9px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u4049 {
  position:absolute;
  left:217px;
  top:234px;
  width:284px;
  height:1px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
