body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2518 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:534px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:44px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u2522 {
  position:absolute;
  left:217px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u2523 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2524 {
  position:absolute;
  left:322px;
  top:11px;
  width:65px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u2525 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2526 {
  position:absolute;
  left:58px;
  top:39px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u2527 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2528 {
  position:absolute;
  left:58px;
  top:78px;
  width:57px;
  height:20px;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2530 {
  position:absolute;
  left:58px;
  top:115px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u2531 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2532 {
  position:absolute;
  left:58px;
  top:150px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u2533 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2534 {
  position:absolute;
  left:58px;
  top:183px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2535 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2536 {
  position:absolute;
  left:58px;
  top:214px;
  width:37px;
  height:13px;
  font-size:9px;
}
#u2537 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2538 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:114px;
}
#u2539 {
  position:absolute;
  left:2px;
  top:49px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2540 {
  position:absolute;
  left:211px;
  top:92px;
  width:290px;
  height:1px;
}
#u2541 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2542 {
  position:absolute;
  left:212px;
  top:64px;
  width:140px;
  height:20px;
  font-size:14px;
}
#u2543 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u2544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2544 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:1px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u2546 {
  position:absolute;
  left:211px;
  top:130px;
  width:290px;
  height:1px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2548 {
  position:absolute;
  left:212px;
  top:102px;
  width:140px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2550 {
  position:absolute;
  left:201px;
  top:168px;
  width:300px;
  height:1px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2552 {
  position:absolute;
  left:212px;
  top:139px;
  width:140px;
  height:20px;
  font-size:14px;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2554 {
  position:absolute;
  left:408px;
  top:138px;
  width:82px;
  height:16px;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2555 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2556 {
  position:absolute;
  left:447px;
  top:100px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2557 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2558 {
  position:absolute;
  left:447px;
  top:62px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#888888;
  text-align:right;
}
#u2559 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
