body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:625px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:625px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:304px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2822 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:44px;
}
#u2823 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u2824 {
  position:absolute;
  left:217px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u2825 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2826 {
  position:absolute;
  left:58px;
  top:39px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2828 {
  position:absolute;
  left:58px;
  top:78px;
  width:57px;
  height:20px;
}
#u2829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2830 {
  position:absolute;
  left:58px;
  top:115px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u2831 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2832 {
  position:absolute;
  left:58px;
  top:150px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u2833 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2834 {
  position:absolute;
  left:58px;
  top:183px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2835 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2836 {
  position:absolute;
  left:58px;
  top:214px;
  width:37px;
  height:13px;
  font-size:9px;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2838 {
  position:absolute;
  left:287px;
  top:12px;
  width:65px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2839 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2840 {
  position:absolute;
  left:350px;
  top:12px;
  width:65px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2841 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2842 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:168px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2844 {
  position:absolute;
  left:201px;
  top:54px;
  width:300px;
  height:1px;
}
#u2845 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2846 {
  position:absolute;
  left:201px;
  top:222px;
  width:300px;
  height:1px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2848 {
  position:absolute;
  left:436px;
  top:184px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2849 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2850 {
  position:absolute;
  left:217px;
  top:67px;
  width:159px;
  height:14px;
  font-size:12px;
  line-height:14px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2852 {
  position:absolute;
  left:368px;
  top:67px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2853 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#353535;
}
#u2854 {
  position:absolute;
  left:376px;
  top:184px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#353535;
}
#u2855 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2857 {
  position:absolute;
  left:303px;
  top:136px;
  width:77px;
  height:17px;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2858 {
  position:absolute;
  left:8px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2859 {
  position:absolute;
  left:217px;
  top:105px;
  width:69px;
  height:69px;
}
#u2860 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2861 {
  position:absolute;
  left:303px;
  top:105px;
  width:183px;
  height:28px;
  font-size:12px;
  line-height:14px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2863 {
  position:absolute;
  left:303px;
  top:158px;
  width:154px;
  height:16px;
  color:#FF0000;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u2865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2865 {
  position:absolute;
  left:366px;
  top:141px;
  width:10px;
  height:9px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u2867 {
  position:absolute;
  left:217px;
  top:91px;
  width:284px;
  height:1px;
}
#u2868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2869 {
  position:absolute;
  left:201px;
  top:233px;
  width:300px;
  height:168px;
}
#u2870 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2871 {
  position:absolute;
  left:201px;
  top:233px;
  width:300px;
  height:1px;
}
#u2872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2873 {
  position:absolute;
  left:201px;
  top:401px;
  width:300px;
  height:1px;
}
#u2874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2875 {
  position:absolute;
  left:217px;
  top:246px;
  width:159px;
  height:14px;
  font-size:12px;
  line-height:14px;
}
#u2876 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2877 {
  position:absolute;
  left:368px;
  top:246px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#353535;
}
#u2879 {
  position:absolute;
  left:436px;
  top:363px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#353535;
}
#u2880 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2882 {
  position:absolute;
  left:303px;
  top:315px;
  width:77px;
  height:17px;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2883 {
  position:absolute;
  left:8px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2884 {
  position:absolute;
  left:217px;
  top:284px;
  width:69px;
  height:69px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2886 {
  position:absolute;
  left:303px;
  top:284px;
  width:183px;
  height:28px;
  font-size:12px;
  line-height:14px;
}
#u2887 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2888 {
  position:absolute;
  left:303px;
  top:337px;
  width:154px;
  height:16px;
  color:#FF0000;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u2890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2890 {
  position:absolute;
  left:366px;
  top:320px;
  width:10px;
  height:9px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2891 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u2892 {
  position:absolute;
  left:217px;
  top:270px;
  width:284px;
  height:1px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  position:absolute;
  left:201px;
  top:412px;
  width:300px;
  height:168px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2896 {
  position:absolute;
  left:201px;
  top:412px;
  width:300px;
  height:1px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2898 {
  position:absolute;
  left:201px;
  top:580px;
  width:300px;
  height:1px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2900 {
  position:absolute;
  left:217px;
  top:425px;
  width:159px;
  height:14px;
  font-size:12px;
  line-height:14px;
}
#u2901 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2902 {
  position:absolute;
  left:368px;
  top:425px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#888888;
  text-align:right;
  line-height:14px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2905 {
  position:absolute;
  left:303px;
  top:494px;
  width:77px;
  height:17px;
  font-size:9px;
  color:#888888;
  text-align:left;
}
#u2906 {
  position:absolute;
  left:8px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2907 {
  position:absolute;
  left:217px;
  top:463px;
  width:69px;
  height:69px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:14px;
}
#u2909 {
  position:absolute;
  left:303px;
  top:463px;
  width:183px;
  height:28px;
  font-size:12px;
  line-height:14px;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2911 {
  position:absolute;
  left:303px;
  top:516px;
  width:154px;
  height:16px;
  color:#FF0000;
}
#u2912 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2913 {
  position:absolute;
  left:366px;
  top:499px;
  width:10px;
  height:9px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#353535;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u2915 {
  position:absolute;
  left:217px;
  top:449px;
  width:284px;
  height:1px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2917 {
  position:absolute;
  left:436px;
  top:542px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u2918 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
