body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:534px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:201px;
  top:490px;
  width:300px;
  height:44px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:44px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:201px;
  top:53px;
  width:300px;
  height:120px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4004 {
  position:absolute;
  left:201px;
  top:53px;
  width:300px;
  height:1px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4006 {
  position:absolute;
  left:201px;
  top:172px;
  width:300px;
  height:1px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4008 {
  position:absolute;
  left:255px;
  top:88px;
  width:193px;
  height:42px;
  text-align:center;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u4010 {
  position:absolute;
  left:914px;
  top:449px;
  width:320px;
  height:38px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4012 {
  position:absolute;
  left:914px;
  top:485px;
  width:320px;
  height:1px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u4014 {
  position:absolute;
  left:952px;
  top:457px;
  width:179px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4016 {
  position:absolute;
  left:914px;
  top:449px;
  width:320px;
  height:1px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u4018 {
  position:absolute;
  left:914px;
  top:181px;
  width:320px;
  height:106px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4020 {
  position:absolute;
  left:925px;
  top:217px;
  width:309px;
  height:1px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4022 {
  position:absolute;
  left:925px;
  top:191px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4024 {
  position:absolute;
  left:914px;
  top:181px;
  width:320px;
  height:1px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4026 {
  position:absolute;
  left:925px;
  top:251px;
  width:309px;
  height:1px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4028 {
  position:absolute;
  left:925px;
  top:227px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4030 {
  position:absolute;
  left:914px;
  top:285px;
  width:320px;
  height:1px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4032 {
  position:absolute;
  left:925px;
  top:260px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4034 {
  position:absolute;
  left:1209px;
  top:191px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u4036 {
  position:absolute;
  left:914px;
  top:353px;
  width:320px;
  height:72px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4038 {
  position:absolute;
  left:925px;
  top:390px;
  width:309px;
  height:1px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4040 {
  position:absolute;
  left:925px;
  top:363px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4042 {
  position:absolute;
  left:914px;
  top:354px;
  width:320px;
  height:1px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4044 {
  position:absolute;
  left:914px;
  top:424px;
  width:320px;
  height:1px;
}
#u4045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4046 {
  position:absolute;
  left:952px;
  top:397px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u4048 {
  position:absolute;
  left:925px;
  top:456px;
  width:20px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u4050 {
  position:absolute;
  left:925px;
  top:396px;
  width:20px;
  height:21px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
}
#u4052 {
  position:absolute;
  left:1184px;
  top:354px;
  width:50px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4053 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u4054 {
  position:absolute;
  left:1184px;
  top:390px;
  width:50px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4055 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4056 {
  position:absolute;
  left:925px;
  top:161px;
  width:239px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4058 {
  position:absolute;
  left:925px;
  top:289px;
  width:299px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4060 {
  position:absolute;
  left:925px;
  top:334px;
  width:239px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u4062 {
  position:absolute;
  left:558px;
  top:479px;
  width:320px;
  height:38px;
}
#u4063 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4064 {
  position:absolute;
  left:558px;
  top:515px;
  width:320px;
  height:1px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4066 {
  position:absolute;
  left:569px;
  top:488px;
  width:179px;
  height:21px;
  font-size:15px;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4068 {
  position:absolute;
  left:854px;
  top:487px;
  width:18px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4070 {
  position:absolute;
  left:558px;
  top:479px;
  width:320px;
  height:1px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u4072 {
  position:absolute;
  left:558px;
  top:559px;
  width:320px;
  height:72px;
}
#u4073 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4074 {
  position:absolute;
  left:569px;
  top:595px;
  width:309px;
  height:1px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4076 {
  position:absolute;
  left:569px;
  top:569px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4078 {
  position:absolute;
  left:558px;
  top:559px;
  width:320px;
  height:1px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4081 {
  position:absolute;
  left:822px;
  top:564px;
  width:46px;
  height:26px;
}
#u4081_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(76, 216, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 216, 100, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4081.selected {
}
#u4082 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083 {
  position:absolute;
  left:823px;
  top:564px;
  touch-action:pan-y;
}
#u4083_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4084_img.selected {
}
#u4084.selected {
}
#u4085 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4086 {
  position:absolute;
  left:558px;
  top:629px;
  width:320px;
  height:1px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4088 {
  position:absolute;
  left:569px;
  top:605px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4091 {
  position:absolute;
  left:821px;
  top:599px;
  width:46px;
  height:26px;
}
#u4091_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
  background:inherit;
  background-color:rgba(76, 216, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 216, 100, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4091.selected {
}
#u4092 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093 {
  position:absolute;
  left:842px;
  top:599px;
  touch-action:pan-y;
}
#u4093_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4093_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4094_img.selected {
}
#u4094.selected {
}
#u4095 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:106px;
}
#u4096 {
  position:absolute;
  left:558px;
  top:678px;
  width:320px;
  height:106px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:45px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4098 {
  position:absolute;
  left:569px;
  top:714px;
  width:309px;
  height:1px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4100 {
  position:absolute;
  left:569px;
  top:688px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4102 {
  position:absolute;
  left:558px;
  top:678px;
  width:320px;
  height:1px;
}
#u4103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:2px;
}
#u4104 {
  position:absolute;
  left:569px;
  top:748px;
  width:309px;
  height:1px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4106 {
  position:absolute;
  left:569px;
  top:724px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4108 {
  position:absolute;
  left:558px;
  top:782px;
  width:320px;
  height:1px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4110 {
  position:absolute;
  left:569px;
  top:757px;
  width:140px;
  height:21px;
  font-size:15px;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4112 {
  position:absolute;
  left:853px;
  top:688px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4114 {
  position:absolute;
  left:853px;
  top:723px;
  width:21px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4116 {
  position:absolute;
  left:853px;
  top:757px;
  width:21px;
  height:21px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:86px;
}
#u4118 {
  position:absolute;
  left:914px;
  top:517px;
  width:318px;
  height:85px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:34px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u4120 {
  position:absolute;
  left:914px;
  top:517px;
  width:318px;
  height:1px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u4122 {
  position:absolute;
  left:914px;
  top:602px;
  width:318px;
  height:1px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124 {
  position:absolute;
  left:921px;
  top:527px;
  width:293px;
  height:25px;
}
#u4124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4125 {
  position:absolute;
  left:337px;
  top:10px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  position:absolute;
  left:201px;
  top:191px;
  width:300px;
  height:38px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4130 {
  position:absolute;
  left:201px;
  top:228px;
  width:300px;
  height:1px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4132 {
  position:absolute;
  left:212px;
  top:199px;
  width:179px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4134 {
  position:absolute;
  left:473px;
  top:202px;
  width:18px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4136 {
  position:absolute;
  left:201px;
  top:190px;
  width:300px;
  height:1px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4139 {
  position:absolute;
  left:201px;
  top:243px;
  width:300px;
  height:38px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4141 {
  position:absolute;
  left:201px;
  top:280px;
  width:300px;
  height:1px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4143 {
  position:absolute;
  left:212px;
  top:251px;
  width:179px;
  height:22px;
  font-size:16px;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4145 {
  position:absolute;
  left:473px;
  top:254px;
  width:18px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4147 {
  position:absolute;
  left:201px;
  top:242px;
  width:300px;
  height:1px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(136, 136, 136, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4149 {
  position:absolute;
  left:350px;
  top:154px;
  width:8px;
  height:8px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  position:absolute;
  left:332px;
  top:154px;
  width:8px;
  height:8px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4153 {
  position:absolute;
  left:367px;
  top:154px;
  width:8px;
  height:8px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4155 {
  position:absolute;
  left:58px;
  top:39px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4157 {
  position:absolute;
  left:58px;
  top:78px;
  width:57px;
  height:20px;
}
#u4158 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4159 {
  position:absolute;
  left:58px;
  top:115px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u4160 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4161 {
  position:absolute;
  left:58px;
  top:150px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4163 {
  position:absolute;
  left:58px;
  top:183px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u4165 {
  position:absolute;
  left:58px;
  top:214px;
  width:37px;
  height:13px;
  font-size:9px;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4167 {
  position:absolute;
  left:326px;
  top:789px;
  width:26px;
  height:26px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4169 {
  position:absolute;
  left:326px;
  top:748px;
  width:22px;
  height:22px;
}
#u4170 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4171 {
  position:absolute;
  left:229px;
  top:517px;
  width:28px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4172 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4173 {
  position:absolute;
  left:310px;
  top:517px;
  width:19px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FF0000;
  text-align:center;
}
#u4175 {
  position:absolute;
  left:383px;
  top:517px;
  width:19px;
  height:13px;
  font-size:9px;
  color:#FF0000;
  text-align:center;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4177 {
  position:absolute;
  left:460px;
  top:517px;
  width:10px;
  height:13px;
  font-size:9px;
  color:#888888;
  text-align:center;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u4179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4179 {
  position:absolute;
  left:260px;
  top:750px;
  width:21px;
  height:21px;
}
#u4180 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4181 {
  position:absolute;
  left:259px;
  top:791px;
  width:22px;
  height:22px;
}
#u4182 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4183 {
  position:absolute;
  left:295px;
  top:751px;
  width:20px;
  height:20px;
}
#u4184 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4185 {
  position:absolute;
  left:292px;
  top:790px;
  width:25px;
  height:25px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4187 {
  position:absolute;
  left:223px;
  top:790px;
  width:25px;
  height:25px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4189 {
  position:absolute;
  left:219px;
  top:749px;
  width:25px;
  height:25px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4191 {
  position:absolute;
  left:309px;
  top:497px;
  width:20px;
  height:20px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4193 {
  position:absolute;
  left:231px;
  top:495px;
  width:24px;
  height:24px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4195 {
  position:absolute;
  left:452px;
  top:493px;
  width:26px;
  height:26px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4197 {
  position:absolute;
  left:381px;
  top:495px;
  width:20px;
  height:20px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
