body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5014 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:534px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5016 {
  position:absolute;
  left:244px;
  top:39px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:244px;
  top:78px;
  width:57px;
  height:20px;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5020 {
  position:absolute;
  left:244px;
  top:115px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5022 {
  position:absolute;
  left:244px;
  top:150px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5024 {
  position:absolute;
  left:244px;
  top:183px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5026 {
  position:absolute;
  left:244px;
  top:214px;
  width:37px;
  height:13px;
  font-size:9px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
