body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:534px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:174px;
}
#u1385 {
  position:absolute;
  left:217px;
  top:71px;
  width:130px;
  height:174px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:79px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1387 {
  position:absolute;
  left:217px;
  top:71px;
  width:130px;
  height:130px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:247px;
  top:203px;
  width:71px;
  height:20px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1391 {
  position:absolute;
  left:259px;
  top:224px;
  width:41px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:174px;
}
#u1394 {
  position:absolute;
  left:357px;
  top:71px;
  width:130px;
  height:174px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:79px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1396 {
  position:absolute;
  left:357px;
  top:71px;
  width:130px;
  height:130px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:387px;
  top:203px;
  width:71px;
  height:20px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1400 {
  position:absolute;
  left:399px;
  top:224px;
  width:41px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:174px;
}
#u1403 {
  position:absolute;
  left:217px;
  top:263px;
  width:130px;
  height:174px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:79px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1405 {
  position:absolute;
  left:217px;
  top:263px;
  width:130px;
  height:130px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  position:absolute;
  left:247px;
  top:395px;
  width:71px;
  height:20px;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1409 {
  position:absolute;
  left:259px;
  top:416px;
  width:41px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1411 {
  position:absolute;
  left:201px;
  top:490px;
  width:300px;
  height:44px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1413 {
  position:absolute;
  left:464px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1415 {
  position:absolute;
  left:201px;
  top:0px;
  width:300px;
  height:44px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1417 {
  position:absolute;
  left:217px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1419 {
  position:absolute;
  left:217px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1421 {
  position:absolute;
  left:565px;
  top:0px;
  width:300px;
  height:534px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1423 {
  position:absolute;
  left:565px;
  top:490px;
  width:300px;
  height:44px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1425 {
  position:absolute;
  left:828px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427 {
  position:absolute;
  left:565px;
  top:0px;
  width:300px;
  height:44px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1429 {
  position:absolute;
  left:581px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1431 {
  position:absolute;
  left:581px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1432 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#888888;
}
#u1433 {
  position:absolute;
  left:675px;
  top:256px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#888888;
}
#u1434 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1435 {
  position:absolute;
  left:60px;
  top:473px;
  width:123px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1437 {
  position:absolute;
  left:60px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1439 {
  position:absolute;
  left:342px;
  top:505px;
  width:18px;
  height:18px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1441 {
  position:absolute;
  left:409px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1443 {
  position:absolute;
  left:706px;
  top:505px;
  width:18px;
  height:18px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1445 {
  position:absolute;
  left:776px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1447 {
  position:absolute;
  left:834px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1449 {
  position:absolute;
  left:464px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:534px;
  background:inherit;
  background-color:rgba(239, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:941px;
  top:0px;
  width:300px;
  height:534px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:259px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:174px;
}
#u1454 {
  position:absolute;
  left:957px;
  top:114px;
  width:130px;
  height:174px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:79px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u1456 {
  position:absolute;
  left:957px;
  top:114px;
  width:130px;
  height:130px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:987px;
  top:246px;
  width:71px;
  height:20px;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1460 {
  position:absolute;
  left:999px;
  top:267px;
  width:41px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#888888;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:941px;
  top:490px;
  width:300px;
  height:44px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1464 {
  position:absolute;
  left:1204px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:941px;
  top:0px;
  width:300px;
  height:44px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1468 {
  position:absolute;
  left:957px;
  top:501px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1470 {
  position:absolute;
  left:957px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#888888;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1472 {
  position:absolute;
  left:1082px;
  top:505px;
  width:18px;
  height:18px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1474 {
  position:absolute;
  left:1149px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1476 {
  position:absolute;
  left:1204px;
  top:11px;
  width:23px;
  height:22px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1476_ann {
  position:absolute;
  left:1220px;
  top:7px;
  width:1px;
  height:1px;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
}
#u1478 {
  position:absolute;
  left:957px;
  top:62px;
  width:270px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#576B95;
}
#u1479 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u1478_ann {
  position:absolute;
  left:1220px;
  top:58px;
  width:1px;
  height:1px;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1480 {
  position:absolute;
  left:339px;
  top:10px;
  width:33px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
